<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layouts/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div th:fragment="common-css">
        <link rel="stylesheet" type="text/css" th:href="@{css/loginStyle.css}"/>
    </div>
    <div th:fragment="content">
        <section class="vh-100 gradient-custom ">
            <div class="py-5 login-form-container">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card form-background text-white" style="border-radius: 1rem;">
                            <div class="card-body text-center">
                                <form action="#" th:action="@{/authenticateTheUser}" method="post">
                                    <div th:if="${param.error}" class="error">
                                        <i>Username/password is invalid</i>
                                    </div>
                                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                    <p class="text-white-50">Please enter your login and password!</p>

                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="typeEmailX">Username</label>
                                        <input type="text" id="typeEmailX" class="form-control form-control-lg" name="username"/>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="typePasswordX">Password</label>
                                        <input type="password" id="typePasswordX" class="form-control form-control-lg" name="password"/>
                                    </div>
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>